.offcanvas-header-mod {
    background-color: #212529;
}

.offcanvas-body-mod {
    background-color: #212529;
    h4 {
        padding-bottom: 12px;
        color: white;
    }

    ul{
        li{
            a{
                text-decoration: none;
                color: rgb(199, 195, 195);
            }
        }
    }
}

.btn-primary-mod{
    background-color: $btncolor;
    border-color: $btncolor;
    &:focus{
        background-color: $btncolor;
        border-color: $btncolor;
        box-shadow: none;
    }
    &:hover{
        background-color: $btncolor;
        border-color: whitesmoke;
    }
}